.swiper-button-next {
  @apply bg-white rounded-full border-4;
  background-image: url('/next.svg');
  background-size: cover;
  width: 28px;
  height: 28px;
  display: none;
}

.swiper-button-prev {
  @apply bg-white rounded-full border-4;
  background-image: url('/prev.svg');
  background-size: cover;
  width: 28px;
  height: 28px;
  display: none;
}
